
@{
    ViewBag.Title = "GetFlowers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class="table table-bordered">
        <tr>
           <th>Flower</th>
        </tr>
      @foreach(var item in ViewData["fl"] as List<string>)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
    </table>
</div>

